===== Path Variables
|===
|설명|제약조건|예시값

{{#parameters}}

|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#constraints}}{{.}}{{/constraints}}{{/tableCellContent}}
|{{#tableCellContent}}{{#pathVariableExample}}{{.}}{{/pathVariableExample}}{{/tableCellContent}}

{{/parameters}}
|===